*.csv
/x64
/PythonExample
*.swp
*.dll
/com
*.code-workspace
Clam-NB.code-workspace
__pycache__/*
/.git
*.json
.gitignore
/__pycache__
*.code-workspace
/tmp
/data/filename.txt
/BackUp
/CapitalLog_Quote
/APIver1/CapitalLog_Quote